<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-icons.css">
    <script src="js/bootstrap.min.js"></script>
    <title>moussa nguette</title>
</head>
<body>
<!-- mon menu-->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#about">Moi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Competences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#formation" >Formation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#portfolio" >Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#recommandation">Recommandation</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <section id="about" class="container-fluid">
        <div class="col-xs-8 col-md-4 profile-picture">
            <img src="img/pp.jpg" alt="ma photo de profile" class="rounded-circle">
        </div>
        <div class="heading">
            <h1>hello, c'est moussa</h1>
            <h3>Developpeur full stack junior</h3>
            <a href="docs/cv_moussa_nguette.pdf" class="button1">Telecharger cv</a>
        </div>
    </section>

    <section id="skills">
        <div class="red-divider">
        </div>
        <div class="heading">
            <h2>Competences</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="90" ariavaluemin="0" aria-valuemax="100" style="width: 90%;">
                            <h5>Bootstrap 90%</h5>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="60" ariavaluemin="0" aria-valuemax="100" style="width: 60%;">
                            <h5>Angular 60%</h5>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="85" ariavaluemin="0" aria-valuemax="100" style="width: 85%;">
                            <h5>Node JS 85%</h5>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="95" ariavaluemin="0" aria-valuemax="100" style="width: 95%;">
                            <h5>Wordpress 95%</h5>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="60" ariavaluemin="0" aria-valuemax="100" style="width: 60%;">
                            <h5>Ionic 60%</h5>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progresbar" aria-valuenow="85" ariavaluemin="0" aria-valuemax="100" style="width: 85%;">
                            <h5>Gestion de bases de donnée 85%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experience">

        <div class="container">
            <div class="white-divider"></div>
            <div class="heading">
                <h2><span class="bi bi-dash"></span> Experience Professionnelle</h2>
            </div>
            <ul class="timeline navbar-nav">
                <li navbar-item>
                    <div class="timeline-badge">
                        <img src="icons/briefcase.svg" alt="briefcase">
                    </div>
                    <div class="timeline-panel-container">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>SINPLON Sénégal</h3>
                                <h4>Développeur full stack, Programmeur</h4>
                                <p class="text-muted"><img src="icons/clock.svg" alt="clock">Depuis le 13 octobre 2020</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Réalisation d'un dispositif est une unité de transfert et de remplissage de 
                                    barine de lubrifiant controllé par automate programmable .
                                </p>
                                <p>
                                    Devéloppement d'un site vitrine par le CSM Wordpress
                                </p>
                                <p>
                                    Mise en place un système de détection de la température ambiante et 
                                    de l’humidité et une page web pour la visualisation.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li navbar-item>
                    <div class="timeline-badge">
                        <img src="icons/briefcase.svg" alt="briefcase">
                    </div>
                    <div class="timeline-panel-container-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Ministère des Infrastructures</h3>
                                <h4>Technicien Informatique</h4>
                                <p class="text-muted"><img src="icons/clock.svg" alt="clock">Du 02 mars au 30 avril 2020</p>
                            </div>
                            <div class="timeline-body">
                                <p>stagiaire au service informatique , à la Direction des Routes ,
                                    au Ministère des Infrastructures , des Transports Terrestres et du Désenclavement .</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li navbar-item>
                    <div class="timeline-badge">
                        <img src="icons/briefcase.svg" alt="briefcase">
                    </div>
                    <div class="timeline-panel-container">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>SENELEC</h3>
                                <h4>Technicien support informatique</h4>
                                <p class="text-muted"><img src="icons/clock.svg" alt="clock">Du 01 octobre au 03 janvier 2019</p>
                            </div>
                            <div class="timeline-body">
                                <p>stagiaire au service informatique, unité Helpdesk &
                                    Support , à la Direction Générale de la SENELEC rue vincens .
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="education">
        <div class="container">
            <div class="red-divider"></div>
            <div class="heading">
                <h2>Formation</h2>
            </div>
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="education-block">
                        <h5>Depuis 13 Octobre 2020</h5>
                        <img src="icons/layers-half.svg" alt="education">
                        <h3>Fabrique Simplon</h3>
                        <div class="red-divider"></div>
                        <p>Digitalisation</p>
                        <p>Maintenance de la chaine de production</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="education-block">
                        <h5>2017-2019</h5>
                        <img src="icons/layers-half.svg" alt="education">
                        <h3>CFPT Sénégal/Japon</h3>
                        <div class="red-divider"></div>
                        <p>BTS Informatique Industrielle</p>
                        <p>Réseau informatique</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="white-divider"></div>
            <div class="heading">
                <h2>Portfolio</h2>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="https://www.facebook.com/profile.php?id=100010064925787" class="thumbnail" target="_blank">
                        <img class="img-thumbnail" src="img/facebook-share.png" alt="facebook">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="mossanguette@gmail.com" class="thumbnail" target="_blank">
                        <img class="img-thumbnail" src="img/gmail.png" alt="google">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://twitter.com/NGUETTEmoussa2" class="thumbnail" target="_blank">
                        <img class="img-thumbnail" src="img/twitter-retweet.png" alt="tweeter">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://www.linkedin.com/in/moussa-nguette-790b25163/" class="thumbnail" target="_blank">
                        <img class="img-thumbnail" src="img/linkedin.png" alt="linkedIn">
                    </a>
                </div>
            </div>
            
        </div>
    </section>
    <section id="recommandation">
        <div class="container">
            <div class="red-divider"></div>
            <div class="heading">
                <h2>Recommandation</h2>
            </div>
            <div id="myCarousel" class="carousel carousel-dark slide text-center" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <h3>"Merci beaucoup, ça été un grand plaisir de partager ces moments avec toi !"</h3>
                        <h4>Tidiane SY</h4>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <h3>"Je suis très satisfait pour votre collaboration au projet ATICA2S"</h3>
                        <h4>Adama FAYE</h4>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <h3>"diadjeuf man ..."</h3>
                        <h4>Souleymane fall</h4>
                    </div>
                </div>
                <a href="#myCarousel" class="carousel-control-next" data-bs-slide="next" role="button">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">next</span>
                </a>
                <a href="#myCarousel" class=" carousel-control-prev" data-bs-slide="prev" role="button">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">previous</span>
                </a>
            </div>
        </div>
    </section>
    <footer class="text-center">
        <a href="#about">
            <img class="chevrons" src="icons/chevrons-up.svg" alt="chevrons-up">
            
        </a>
        <h5> Copyright © 2021 - sudo m97</h5>
    </footer>
</body>
</html>